body {
    font-family: Verdana, sans-serif;
    background-color: aliceblue
}
  
path {  
    stroke: #fff; 
}
  
path:hover {  
    opacity: 0.75; 
}
  
rect:hover {  
    opacity: 0.75; 
}
  
.axis {  
    font: 10px Verdana; 
}
  
.legend tr{    
    border-bottom: 1px solid grey; 
}
  
.legend tr:first-child{   
    border-top: 1px solid grey; 
}
  
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
  
.axis path {  
    display: none; 
}
  
.legend{
    margin-bottom: 76px;
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
  
.legend td{
    padding: 4px 5px;
    vertical-align: bottom;
}
  
.legendFreq, .legendPerc{
    align: right;
    width: 50px;
}